@(form: Form[ScenarioController.ScenarioForm], user: User)

@main("Create scenario", user) {
<div class="container">
	<div class="page-header">
		<h1>Create scenario</h1>
	</div>
	@if(form.hasGlobalErrors) {
	<div class="alert alert-danger">
		@form.globalError.message
	</div>
	}
	@helper.form(routes.ScenarioController.createScenarioPOST) {

	<div class="form-group row">
		<div class="col-sm-12">
			<input id="name" type="text" class="form-control" name="name" placeholder="Scenario name" value="@form("name").value">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 control-label">Owner</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				@user.alias
			</p>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 control-label">Is public</label>
		<div class="col-sm-10">
			<label>
				<input type="checkbox" name="isPublic">
			</label>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 control-label" >Expiration date</label>
		<div class="col-sm-1">
			<select class="form-control" value="@form("day")" name="day" >
				<option>dd</option>
				@for(a <- 1 to 31) {
				<option>@a</option>
				}
			</select>
		</div>
		<div class="col-sm-1">
			<select class="form-control" value="@form("month")"  name="month">
				<option>mm</option>
				@for(a <- 1 to 12) {
				<option>@a</option>
				}
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control" value="@form("year")"  name="year">
				<option>yyyy</option>
				@for(a <- 2014 to 2100) {
				<option>@a</option>
				}
			</select>
		</div>
	</div>
	
	<div class="col-sm-12 row">
		<button type="submit" class="btn btn-default btn-lg">
			Create
		</button>
	</div>

	}
</div><!-- /.container -->
}