@(form: Form[ScenarioController.ScenarioForm], user: User, scenario: Scenario, isLocked: Boolean)

@main("Edit scenario", user) {
	<div class="container">
		<div class="page-header">
			<h1>Edit scenario</h1>
		</div>
		<!-- error in the form -->
		@if(form.hasErrors) {
			<div class="alert alert-danger">
		        @for(errorList <- form.errors().values) {
					@for(e <- errorList) {
						@e.message()
					}
					<br/>
				}
			</div>
		}
		<!-- opened for edition by another user -->
		@if(isLocked){
			<div class="alert alert-danger">
		        Sorry, another user opened this scenario for edition.
			</div>
		}
		@helper.form(routes.ScenarioController.editScenarioPOST(scenario.id), Symbol("class") -> "form-horizontal") {
			<div class="form-group">
				<div class="col-sm-12">
					<input id="name" type="text" class="form-control" name="name" placeholder="Scenario name" value="@scenario.name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Owner</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						@user.alias
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Is public</label>
				<div class="col-sm-10">
					<label>
						<input type="checkbox" name="isPublic" checked="@scenario.isPublic">
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Expiration date</label>
				<div class="col-sm-1">
					<select class="form-control" name="day" >
						<option>dd</option>
						@for(a <- 1 to 31) {
							@if(scenario.expirationDate != null && a == Integer.parseInt(scenario.expirationDate.toString().substring(8, 10))) {
								<option selected="selected">@a</option>
							} else {
								<option>@a</option>
							}
						}
					</select>
				</div>
				<div class="col-sm-1">
					<select class="form-control" name="month">
						<option>mm</option>
						@for(a <- 1 to 12) {
							@if(scenario.expirationDate != null && a == Integer.parseInt(scenario.expirationDate.toString().substring(5, 7))) {
								<option selected="selected">@a</option>
							}
							<option>@a</option>
						}
					</select>
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="year">
						<option>yyyy</option>
						@for(a <- 2014 to 2100) {
							@if(scenario.expirationDate != null && a == Integer.parseInt(scenario.expirationDate.toString().substring(0, 4))){
								<option selected="selected">@a</option>
							}
							<option>@a</option>
						}
					</select>
				</div>
			</div>
			<h4>Members</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Member alias</th>
					</tr>
				</thead>
				<tbody>
					@for(m <- scenario.members) {
					<tr>
						<td>@{scenario.members.indexOf(m)+1}</td>
						<td>@m.alias</td>
						@if(m.id != scenario.owner.id && scenario.owner.id == user.id) {
						<td>
							<a class="btn btn-danger btn-xs" href="@routes.ScenarioController.removeMemberGET(scenario.id, m.id)"> <span class="glyphicon glyphicon-remove"></span> Remove</a>
						</td>
						} else {
							<td></td>
						}
					</tr>
					}
				</tbody>
			</table>
			
			<div class="form-group">
				<a class="btn btn-primary" href="@routes.ScenarioController.addMemberGET(scenario.id)"> <span class="glyphicon glyphicon-plus"></span> Add member</a>
			</div>
			
			<h4>Checkpoints</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Checkpoint name</th>
					</tr>
				</thead>
				<tbody>
					@for(c <- scenario.checkpoints) {
					<tr>
						<td>@{scenario.checkpoints.indexOf(c)+1}</td>
						<td>@c.name</td>
						<td>
							<a class="btn btn-info btn-xs" href="@routes.CheckpointController.viewCheckpointGET(c.id)"><span class="glyphicon glyphicon-search"></span> View</a>
							<a class="btn btn-warning btn-xs" @if(isLocked){disabled="disabled"} href="@routes.CheckpointController.editCheckpointGET(c.id)"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
							<a class="btn btn-danger btn-xs" @if(isLocked){disabled="disabled"} href="@routes.CheckpointController.removeCheckpointGET(c.id)"> <span class="glyphicon glyphicon-remove"></span> Remove</a>
						</td>
					</tr>
					}
				</tbody>
			</table>
			
			<div class="form-group">
			<a class="btn btn-primary" @if(isLocked){disabled="disabled"} href="@routes.CheckpointController.createCheckpointGET(scenario.id)"> <span class="glyphicon	glyphicon-plus"></span> Add checkpoint</a>
		</div>

			<div class="form-group">
				<button type="submit" class="btn btn-default btn-lg" @if(isLocked){disabled="disabled"}>
					Save changes
				</button>
				@if(!isLocked) {
				<a class="btn btn-default btn-lg" href="@routes.ScenarioController.cancelEditGET(scenario.id)">
					Cancel edition
				</a>
				}
			</div>
		}
	</div><!-- /.container -->
}