@(totalPageCount: Integer, currentPage: Integer)

@if(totalPageCount != 0) {
<ul class="pagination">
	@if(currentPage == 0) {
	<li class="disabled">
		<span>&laquo;</span>
	</li>
	} else {
	<li>
		<a href="@routes.ScenarioController.viewPublicScenariosGET(currentPage-1)">&laquo;</a>
	</li>
	}
	@for(p <- 1 to totalPageCount) {
	@if(p == currentPage+1) {
	<li class="active">
		<a href="@routes.ScenarioController.viewPublicScenariosGET(p-1)">@p</a>
	</li>
	} else {
	<li>
		<a href="@routes.ScenarioController.viewPublicScenariosGET(p-1)">@p</a>
	</li>
	}
	}
	@if(currentPage == totalPageCount-1) {
	<li class="disabled">
		<span>&raquo;</span>
	</li>
	} else {
	<li>
		<a href="@routes.ScenarioController.viewPublicScenariosGET(currentPage+1)">&raquo;</a>
	</li>
	}
</ul>
}
