@(user: User, scenarios: List[Scenario], currentPage: Integer, totalPageCount: Integer, pageSize: Integer, searchString: String)

@main("Editable scenarios", user) {
<div class="container">
	<div class="page-header">
		<h1>Scenarios I have permission to edit</h1>
	</div>
	@if(flash.contains("error")) {
		<div class="alert alert-danger">
	        @flash.get("error")
		</div>
	}
	@helper.form(routes.ScenarioController.viewPrivateScenariosSearchPOST) {
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button> </span>
			<input type="text" class="form-control" name="searchTerm">
		</div>
	</div>
	}
	
	@if(scenarios.size() == 0) {
	You haven't created any scenarios
	@if(searchString!=null){ containing term "@searchString" }
	yet.
	}
	@if(scenarios.size() > 0) {
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Scenario name</th>
				<th>Created by me</th>
				<th>Accepted for public</th>
			</tr>
		</thead>
		<tbody>
			@for(s <- scenarios) {
			<tr>
				<td>@{(scenarios.indexOf(s)+1)+pageSize*currentPage}</td>
				<td>@s.name</td>
				<td>@{s.owner.email == user.email}</td>
				<td> @if(s.isAccepted){
				yes
				} else {
				no
				} </td>
				<td><a class="btn btn-info btn-xs" href="@routes.ScenarioController.viewPrivateScenarioGET(s.id)"> <span class="glyphicon glyphicon-search"></span> View </a><a class="btn btn-warning btn-xs" href="@routes.ScenarioController.editScenarioGET(s.id)"> <span class="glyphicon glyphicon-pencil"></span> Edit </a>@if(s.owner.id == user.id){<a class="btn btn-danger btn-xs" href="@routes.ScenarioController.deleteScenarioGET(s.id)"> <span class="glyphicon glyphicon-remove"></span> Remove </a>}</td>

			</tr>
			}
		</tbody>
	</table>
	@if(totalPageCount > 1) {
	<ul class="pagination">
		@if(currentPage == 0) {
		<li class="disabled">
			<span>&laquo;</span>
		</li>
		} else {
		<li>
			<a href="@routes.ScenarioController.viewPrivateScenariosGET(currentPage-1)">&laquo;</a>
		</li>
		}
		@for(p <- 1 to totalPageCount) {
		@if(p == currentPage+1) {
		<li class="active">
			<a href="@routes.ScenarioController.viewPrivateScenariosGET(p-1)">@p</a>
		</li>
		} else {
		<li>
			<a href="@routes.ScenarioController.viewPrivateScenariosGET(p-1)">@p</a>
		</li>
		}
		}
		@if(currentPage == totalPageCount-1) {
		<li class="disabled">
			<span>&raquo;</span>
		</li>
		} else {
		<li>
			<a href="@routes.ScenarioController.viewPrivateScenariosGET(currentPage+1)">&raquo;</a>
		</li>
		}
	</ul>
	}
	}

</div><!-- /.container -->
}