@(user: User, scenario: Scenario)

@main("View scenarios", user) {
<div class="container">
	<div class="page-header">
		<h1>Scenario details</h1>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Name:
		</div>
		<div class="col-xs-12 col-md-8">
			@scenario.name
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Is accepted:
		</div>
		<div class="col-xs-12 col-md-8">
			@if(scenario.isAccepted){
				yes
			} else {
				no
			}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Is public:
		</div>
		<div class="col-xs-12 col-md-8">
			@if(scenario.isPublic) {
				yes
			} else {
				no
			}
		</div>
	</div>
	@if(scenario.expirationDate!=null) {
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Expiration date:
		</div>
		<div class="col-xs-12 col-md-8">
			@scenario.expirationDate
		</div>
	</div>
	}
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Owner:
		</div>
		<div class="col-xs-12 col-md-8">
			@scenario.owner.alias
		</div>
	</div>
	<h4>Members</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Member alias</th>
			</tr>
		</thead>
		<tbody>

			@for(m <- scenario.members) {
			<tr>
				<td>@{scenario.members.indexOf(m)+1}</td>
				<td>@m.alias</td>
				@if(m.id!=scenario.owner.id){
				<td>
					<a class="btn btn-default btn-xs" href="@routes.ScenarioController.removeMemberGET(scenario.id,m.id)"> <span class="glyphicon glyphicon-remove"></span> Remove </a>
				</td>
				} else {
					<td></td>
				}
			</tr>
			}

		</tbody>
	</table>
	<a class="btn btn-default btn" href="@routes.ScenarioController.addMemberGET(scenario.id)"> <span class="glyphicon glyphicon-plus"></span> Add member</a>
	<h4>Checkpoints</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Checkpoint name</th>
			</tr>
		</thead>
		<tbody>

			@for(c <- scenario.checkpoints) {
			<tr>
				<td>@{scenario.checkpoints.indexOf(c)+1}</td>
				<td>@c.name</td>
				<td>
					<a class="btn btn-default btn-xs" href="@routes.CheckpointController.viewCheckpointGET(c.id)"> <span class="glyphicon glyphicon-search"></span> View </a>
					@if(Secured.isMemberOf(scenario.id)){
					<a class="btn btn-default btn-xs" href="@routes.CheckpointController.editCheckpointGET(c.id)"> <span class="glyphicon glyphicon-pencil"></span> Edit </a>
					<a class="btn btn-default btn-xs" href="@routes.CheckpointController.removeCheckpointGET(c.id)"> <span class="glyphicon glyphicon-remove"></span> Remove </a>
					}
				</td>

			</tr>
			}

		</tbody>
	</table>
	<a class="btn btn-default btn" href="@routes.CheckpointController.createCheckpointGET(scenario.id)"> <span class="glyphicon glyphicon-plus"></span> Add checkpoint</a>

</div><!-- /.container -->
}