@(user: User, games: List[GameAggregate], scenario: Scenario)

@main("Scenario ranking", user) {
<div class="container">
	<div class="page-header">
		<h1>Ranking for scenario: @scenario.name</h1>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>User</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			@for(g <- games) {
			<tr>
				<td>@{games.indexOf(g)+1}</td>
				<td>@g.alias</td>
				<td>@g.points</td>
			</tr>
			}
		</tbody>
	</table>
</div><!-- /.container -->
}