@(user: User, scenarios: List[Scenario], currentPage: Integer, totalPageCount: Integer, pageSize: Integer)

@main("Private scenarios", user) {
	<div class="container">
		<div class="page-header">
			<h1>My scenarios</h1>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Scenario name</th>
					<th>Is public</th>
					<th>Created by me</th>
				</tr>
			</thead>
			<tbody>
				@for(s <- scenarios) {
					<tr>
						<td>@{(scenarios.indexOf(s)+1)+pageSize*currentPage}</td>
						<td>@s.name</td>
						<td>@s.isPublic</td>
						<td>@{s.owner.email == user.email}</td>
						<td>
						<a class="btn btn-info btn-xs" href="@routes.ScenarioController.viewPrivateScenarioGET(s.id)">
							<span class="glyphicon glyphicon-search"></span> View
						</a>
						<a class="btn btn-warning btn-xs" href="@routes.ScenarioController.editScenarioGET(s.id)">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</a>
						<a class="btn btn-danger btn-xs" href="#">
							<span class="glyphicon glyphicon-remove"></span> Remove
						</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		@if(totalPageCount > 1) {
			<ul class="pagination">
				@if(currentPage == 0) {
					<li class="disabled"><span>&laquo;</span></li>
				} else {
					<li><a href="@routes.ScenarioController.viewPrivateScenariosGET(currentPage-1)">&laquo;</a></li>
				}
				@for(p <- 1 to totalPageCount) {
					@if(p == currentPage+1) {
						<li class="active"><a href="@routes.ScenarioController.viewPrivateScenariosGET(p-1)">@p</a></li>
					} else {
						<li><a href="@routes.ScenarioController.viewPrivateScenariosGET(p-1)">@p</a></li>
					}
				}
				@if(currentPage == totalPageCount-1) {
					<li class="disabled"><span>&raquo;</span></li>
				} else {
					<li><a href="@routes.ScenarioController.viewPrivateScenariosGET(currentPage+1)">&raquo;</a></li>
				}
			</ul>
		}
	</div><!-- /.container -->
}