@(user: User, scenario: Scenario, checkpoint: Checkpoint, isAdminMode: Boolean)

@main("View checkpoint", user) {
<div class="container">
	<div class="page-header">
		<h1>Checkpoint details</h1>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Name:
		</div>
		<div class="col-xs-12 col-md-8">
			@checkpoint.name
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Longitude:
		</div>
		<div class="col-xs-12 col-md-8">
			@checkpoint.longitude
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Latitude:
		</div>
		<div class="col-xs-12 col-md-8">
			@checkpoint.latitude
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Points:
		</div>
		<div class="col-xs-12 col-md-8">
			@checkpoint.points
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">
			Message:
		</div>
		<div class="col-xs-12 col-md-8">
			@checkpoint.message
		</div>
	</div>

	<h4>Possible answers</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>text</th>
			</tr>
		</thead>
		<tbody>
			@for(c <- checkpoint.possibleAnswers) {
			<tr>
				<td>@{checkpoint.possibleAnswers.indexOf(c)+1}</td>
				<td>@c.text</td>

				@if(!isAdminMode) {
				<td>
					<a class="btn btn-warning btn-xs" href="#"> <span class="glyphicon glyphicon-pencil"></span> Edit </a>
					<a class="btn btn-danger btn-xs" href="#"> <span class="glyphicon glyphicon-remove"></span> Remove </a>
				</td>
				}
			</tr>
			}
		</tbody>
	</table>
		@if(!isAdminMode) {
			<a class="btn btn-primary btn" href="@routes.CheckpointAnswerController.createCheckpointAnswerGET(checkpoint.id)"> <span class="glyphicon glyphicon-plus"></span> Add possible answer</a>
		}
</div><!-- /.container -->
}